<!-- all partials have underscores -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">DTS App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#if user}}
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home
                    <!-- <span class="sr-only">(current)</span> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task">Tasks</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/report" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                    Report
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Create Bug</a>
                    <a class="dropdown-item" href="#">Edit Bug</a>
                    <a class="dropdown-item" href="#">Remove Bug</a>
                    <a class="dropdown-item" href="#">My Bug History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Create Report</a>
                    <a class="dropdown-item" href="#">Edit Report</a>
                    <a class="dropdown-item" href="#">Remove Report</a>
                    <a class="dropdown-item" href="#">My Report History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Bug Database</a>
                    <a class="dropdown-item" href="#">Report Database</a>
                    <a class="dropdown-item" href="#">Archives</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/admin" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                    Admin CP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Bugs</a>
                    <a class="dropdown-item" href="/project">Projects</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Employees</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/help">Help</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#loginModalCenter">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Sign-Up</a>
            </li>
            {{/if}}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalCenterTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content Here -->
                <form>
                    <div class="form-group">
                        <label for="userInputEmail">Email address</label>
                        <input type="email" class="form-control" id="userInputEmail" aria-describedby="emailHelp"
                            placeholder="Enter Email Address" name="email" value="{{user_email}}" required>
                    </div>
                    <div class="form-group">
                        <label for="userInputPassword1">Password</label>
                        <input type="password" class="form-control" id="userInputPassword1" placeholder="Enter Password"
                        name="password" value="{{password}}" required>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                    <p>Not a user?<a href="/register"> Sign Up</a></p>
                    <p>Forgot <a href="/forgotpass">Password?</a></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-off"></span>
                    Login</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>