<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card-body">
            <div class="jumbotron text-centered">
                <h1>Welcome to the DTS Page!</h1>
                <p>Currently under construction.</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModalCenter">
                    Logout
                </button>
            </div>
        </div>
    </div>
</div>