<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card-body">
            <div class="jumbotron text-centered">
                <h1>Welcome to the DTS Page!</h1>
                <p>Currently under construction.</p>
                <a href="/register" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Sign-Up</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModalCenter">
                    Login
                </button>
                
            </div>
        </div>
    </div>
</div>